extends ../layout

block content
  form.form#signin(name='login', method='post', action='login')
    h1 Login Page
    include ../partials/flash
    .form-group.field-wrap
      input(type='hidden', name='_csrf', value=_csrf)

      input.form-control.text(type='text', name='username', id='username', placeholder='Username', autofocus, required)
    .form-group.field-wrap
      input.form-control.text(type='password', name='password', id='password', placeholder='Password', required)
    button.input.button.button-block(type='submit', value='Sign In')
      i.fa.fa-user
      | Login
    //a.btn.btn-link(href='/forgot') Forgot your password?
