extends ../layout

block content
  form.form(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .field-wrap
      h1 Register New Participant
      h3(style="color: red;") For Study Staff Only
    .form-group.field-wrap
        input.form-control(type='text', name='username', id='username', placeholder='Username', autofocus, required)
    .form-group.field-wrap
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group.field-wrap
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    button.input.button.button-block(type='submit', value='Sign Up')
      i.fa.fa-user-plus
      | Sign Up      
