extends layout

block content
  if !user
    form.form#signin(name='login', method='get', action='login')
      a(href="/login")
        button.button.button-block(type='default', class=(title === 'Login') ? 'active' : undefined) Login
  else
    if (user.username == "admin")
      .form(style= "background-color: orange;")
        h1 Admin Area
        .field-wrap
          ul
            .dropdown(class=(title === 'Account Management') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span= user.profile.name || user.username || user.id
                i.caret
              ul.dropdown-menu
                li
                  a(href='/account') My Account
                li.divider
                li
                  a(href='/logout') Logout
        .field-wrap
          a(href="/getUsersDownload")
            button.button.button-block(type='default') Download Users
        .field-wrap
          a(href="/getSleepDiaryDownload")
            button.button.button-block(type='default') Download Sleep Diary Log 
        a(href="/getEventLogDownload")
          button.button.button-block(type='default') Download Event Log 
    .form
      .field-wrap
        h2 Did you complete a sleep diary today?
      .field-wrap
        a(href="/activityPicker")
          button.button.button-block(type='default') Yes 
      a(href="/sleepDiary")
        button.button.button-block(type='default') No 
