doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- meta(name=name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    //include partials/header

    .container
      .header-footer
        img.logo(src="/img/logo.png")
      block content
      .header-footer
        .field-wrap.footer-text
          p Please contact the study administrator at <a href="mailto:klv45@drexel.edu">klv45@drexel.edu</a> or (267) 737-9875 with questions or if you experience technical difficulties.
          .field-wrap.footer-text
              a(href="/signUp") Admin Only

    //include partials/footer
