extends ../layout

block content
  .form
    .field-wrap
      h1 Your data has been saved and you have been logged out.
    .field-wrap
      h3 If you are trying to log another daily activity, <a href="/"> Click Here</a>.
      
      

          
