extends ../layoutGame

block content
  iframe.game(src="http://www.javascriptsource.com/repository/javascripts/2010/04/883851/hit_the_doc.html" scrolling="no" frameborder="0" onload="resizeIframe(this)")
  script.
    window.setTimeout(function(){
      window.location.href = "/experimentFinished";
    }, 45000);
