extends ../layout

block content
  .form
    .field-wrap
      h3 You are about to start the <b>Matching Game</b>. Please complete as much as you can, and you will be redirected after 90 seconds.
    a(href='/GameA')
      button.button.button-block(type="button") Start Now

      
      

            
