extends ../layoutGame

block content
  iframe.game(src="https://www.kellyking.me/projects/simon/" scrolling="no" frameborder="0" onload="resizeIframeWidth(this)")
  script.
    window.setTimeout(function(){
      window.location.href = "/experimentFinished";
    }, 45000);
      
