extends ../layoutGame

block content
  //iframe.game(src="http://callmenick.com/_development/memory/" scrolling="no" frameborder="0" onload="resizeIframe(this)")
  script.
    window.setTimeout(function(){
      window.location.href = "/experimentFinished";
    }, 90000);
    
  object(data="http://www.web-source.net" width="600" height="400")
    embed(src="http://www.web-source.net" width="600" height="400")
